@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: linear-gradient(108deg, #46d3ff .14%, #6178ff 24.02%, #a750ff 39.05%, #ff1ec0 56.82%, #ff784b 77.82%, #ffce51 95.45%);
}

body {
    font-family: 'Signika Negative', sans-serif;
    background: #161720;
}

.loaderpage {
    color: white;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: black;
}

.ring {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #e65c00;
    }

    50% {
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #18b218;
    }

    100% {
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #0456c8;
    }
}

.ring::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(255, 255, 255, .3);
}

.loaderword {
    font-family: 'Rubik', sans-serif;
    color: #737373;
    font-size: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;

}

.cursor {
    position: fixed;
    width: 10px;
    height: 10px;
    border: 2px solid rgb(0, 255, 42);
    border-radius: 50%;
    background-color: rgb(11, 206, 255);
    /* background-color: transparent; */
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-58%, -58%);
    transition: .1s;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    border: none;
}

.cursor div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    opacity: 0;
}

/* Header  start*/
.head_section {
    display: flex;
    background: #00000000;
    color: white;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px;
    z-index: 10;
    transition: 1s;
}

.schead_section {
    box-shadow: 0px 0px 6px 0px #5dadff;
    display: flex;
    background: #091222;
    color: white;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px;
    z-index: 10;
    transition: 1s;
}

.web-logo {
    width: 77px;
    cursor: pointer;

}

.web-logo:hover {
    animation: shake .8s ease-in;
}

@keyframes shake {
    0% {
        transform: translate(0);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translate(.8em);
    }

    10%,
    20%,
    50% {
        transform: translate(-.2em);
    }

    70%,
    100% {
        transform: translate(0);
    }
}

.link-section {
    display: flex;
    padding: 10px;
}

.link-n {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    transition: 0.5ms;
    text-transform: uppercase;
}

.link-n::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 63px;
    margin: auto;
    height: 1px;
    top: 50%;
    background-color: #04cdff;
    transform: rotate(180deg);
    transition: all 1s;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out 0s;
}

.link-n-active {
    color: rgb(42, 255, 227);
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    transition: 0.5ms;
    text-transform: uppercase;
}

.link-n-active::before {

    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 63px;
    margin: auto;
    height: 1px;
    top: 50%;
    background-color: #04cdff;
    transform: rotate(200deg);
    transition: all 1s;
    opacity: 1;
    -webkit-transition: all 0.3s ease-out 0s;

}

.link-n:hover::before {
    opacity: 1;
    transform: rotate(200deg);
    transition: all 300ms;
}

.link-uper-case {
    margin: 0px 20px;
    position: relative;
    display: block;
}

.link-n:hover {
    color: rgb(42, 255, 227);
    transition: 0.5ms;
}

.loginstoke {
    stroke: #2ce4ff;
    stroke-dasharray: 33, 33;
    stroke-dashoffset: 82;
    transition: 1s;
}

.loginname {
    margin-top: -37px;
    margin-left: 13px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.set-hover-link {
    display: none;
    position: fixed;
    top: 45px;
    padding-top: 50px;
    transition: 1s;
}

.hover-submenu {

    background: #091222;
    width: 225px;
    border-radius: 5px;
    padding: 20px 7px;
    box-shadow: 0px 0px 7px 0px #355982;
    transition: 1s;
}

.hover-submenu div {
    padding: 5px;
    font-size: 20px;
}

.hover-submenu div a {
    color: white;
    text-decoration: none;
    transition: 300ms;
}

.hover-submenu div a:hover {
    color: rgb(32, 185, 255);
}

.buger-line{
    display: none;
    position: fixed;
    top: 17px;
    right: 23px;
    background: #384864;
    padding: 5px;
    border-radius: 5px;
  
}
.b-line{
    height: 5px;
    width: 27px;
    background-color: white;
    border-radius: 5px;
    margin: 3px 2px;
}

@media (max-width: 1000px) {
    .head_section {
        height: 76px;
        overflow: hidden;
        background: #091222;
        display: block;
    }
    
    .schead_section {
        height: 76px;
        overflow: hidden;
        background: #091222;
        display: block;
    }
    .new-nav-height{
        padding: 15px;
        background: #091222;
        height: 100vh;
        transition: 2s;
    }
    .link-section {
        display: block;
    }

    .link-n-active::before {
        display: none;
    }
    .buger-line{
        display: block;
    }
    .link-uper-case{
        padding: 10px;
    }
    .web-logo {
        margin-left: 5px;
    }
    
    
}


/* Header last  */

.aboutbackground {
    background-image: url('../Img/gamewall3.jpg');
    padding: 159px 0px;
    color: white;
    text-align: center;
}

















/* footer */


.footer-container {
    display: flex;
    justify-content: center;
    padding: 23px 0px;
    background: #111824;
    box-shadow: 0px 0px 6px 0px black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.footer-link {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    padding: 10px;
    padding-left: 24px;

}

.footer-link-a {
    color: #9d9d9d;
    text-decoration: none;
    margin: 6px 0px;
}

.footer-link-a:hover {
    color: rgb(0, 132, 255);
}

.footer-icon {
    width: 30px;
    margin: 5px;
}

.newletterst {
    padding: 16px 21px;
    background: #1f2935;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: unset;
    outline: none;
    box-shadow: 0px 0px 5px 0px #464646;
    color: #939494;
}

.newletterbtn {
    width: 54px;
    background: #58c4e5;
    padding: 10px;
    margin-left: 7px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 0px 5px 0px #464646;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    cursor: pointer;
    transition: 550ms;
}

.newletterbtn:hover {
    background-color: white;
}
.footer-inner{
    display: flex;   
    width: 1200px;
}
.f-f-c{
    width: 30%;
}
.f-s-c{
    width: 20%;      
    padding: 20px;
}
.f-t-c{
    width: 20%;
    padding: 20px;
}
.f-four-c{
    width: 30%;
    padding: 20px;
}
.developertag {
    text-decoration: none;
    color: lime;
    transition: 400ms;
}

.developertag:hover {
    color: rgb(0, 133, 0);
}


@media (max-width: 1200px) {
    .footer-inner{
        display: flex;   
        width: 100%;
        padding: 10px
    }
}

@media (max-width: 1000px) {
    .footer-inner {
        display: flex;
        width: 100%;
        padding: 20px;
        flex-wrap: wrap;
    }
    .f-f-c {
        width: 50%;
    }
    .f-s-c {
        width: 50%;
        padding: 20px;
    }
    .f-t-c {
        width: 50%;
        padding: 20px;
    }
    .f-four-c {
        width: 50%;
        padding: 20px;
    }
}
@media (max-width: 600px) {
    .footer-inner {
        display: flex;
        width: 100%;
        padding: 30px;
        flex-wrap: wrap;
    }
    .f-f-c {
        width: 100%;
    }
    .f-s-c {
        width: 100%;
        padding: 20px;
    }
    .f-t-c {
        width: 100%;
        padding: 20px;
    }
    .f-four-c {
        width: 100%;
        padding: 20px;
    }
}

/* footer  */